/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing:border-box;
}

header {
	padding: px2vw(15) 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background: #2c2c2c;
	color: snow;
	opacity: 1;
}

h1 {
	color : white;
	text-align: center;
	margin: 10rem;
	font-size: 10rem;
	font-weight: 900;
	letter-spacing: 2px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	
	.trademark {
		div {
			color : white;
			text-align: center;
			margin: 1rem;
			font-size: 4rem;
			font-weight: 300;
			letter-spacing: 1px;		
		}
	}
}